<div class="top">
  <h1>All lists</h1>
  <%= link_to new_list_path do %>
   <p class = "btn">Create new list</p>
  <% end %>
</div>
<div class="content">
  <ol>
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <li><%= list.name %></li>
      <% end %>
    <% end %>
  </ol>
</div>
