<h1>All lists</h1>
<ol>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <li><%= list.name %></li>
    <% end %>
  <% end %>
</ol>

<p><%= link_to "Create new list", new_list_path %></p>
