.top {
  background-color: white;
  display: flex;

  h1 {
    font-size: 50px;
  }

  p {
    height: auto;
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: lightblue;
    border-radius: 4px;
  }

}
